<div class="background">
  <div class="app-form">
  <h2>add movie to list</h2>
<%= simple_form_for [ @list, @bookmark ] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment  %>
  <%= f.button :submit %>
<% end %>
  </div>
</div>
