
.background-container {
  display: flex;
  justify-content: flex-start;
}

.background {
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, rgba(120,81,205,1) 0%, rgba(76,33,173,1) 10%, rgba(35,9,93,1) 30%, rgba(40,23,78,1) 43%, rgba(0,0,0,1) 66%);
  position: fixed;
  top: 0;
}


.banner {
  width: 15%;
  height: 100vh;
  background: rgba(black, .4);
  color: white;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: fixed;
  top: 0;
  padding: 15px;
  border-right: 5px solid white;
}
