.button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: rgba(white, .3);
  text-align: center;
  padding-top: 35px;
  color: rgb(98, 0, 255);
  font-weight: bold;
  border: 1px solid rgb(255, 255, 255);
  margin-bottom: 10px;
}

.button:hover {
  background: rgba(white, 0);
  color: white;
}
