.button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: rgba(white, .3);
  text-align: center;
  padding-top: 35px;

}

.new {
  color: rgb(95, 253, 108);
  font-weight: 500;
  border: 1px solid rgb(95, 253, 108);
}
