.card-container {
  width: 80%;
  margin-left: 250px;
  margin-top: 50px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
}

.list-card {
  position: relative;
  width: 200px;
  padding: 10px;
  margin: 20px;
  height: 200px;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 10px gray;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  filter: grayscale(100%);
  transition: 0.2s;

  .title {
    color: black;
    background-color: rgba(white,.7);
    font-size: 16px;
    position: absolute;
    top: 5px;
    left: 5px;
  }

  .rating {
  color: black;
  background-color: rgba(white,.7);
  font-size: 12px;
  position: absolute;
  bottom: 5px;
  left: 5px;
}

}

.far {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: red;
  background-color: rgba(white,.7);
  border-radius: 10px;
  padding: 2px;
}

.list-card:hover {
  position: relative;
  border: 3px solid white;
  background-position: left;
  font-weight: bold;
  filter: grayscale(0%);
}

a:hover {
  text-decoration: none;
}
