.card-container {
  width: 80%;
  margin-left: 250px;
  margin-top: 50px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: absolute;

}

.list-card {
  position: relative;
  width: 200px;
  padding: 10px;
  margin: 20px;
  height: 200px;
  background-position: center;
  box-shadow: 0 0 10px gray;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
  filter: grayscale(100%);
  transition: 0.3s;

  p {
    color: black;
    background-color: rgba(white,.7);
    font-size: 18px;
  }

}

.list-card:hover {
  padding: 15px;
  border: 3px solid white;
  background-position: left;
  font-weight: bold;
  filter: grayscale(0%);
}

.rating {
  position: absolute;
  bottom: 0;
  background-color: rgba(white,0);
}

.far {
  position: absolute;
  bottom: 0;
  right: 0;
}
