.app-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  margin: 150px auto;
  height: 300px;
  background: rgba(white, .2);
  padding: 10px;
  border-radius: 4px;
  color: white;
}

#new_list {
  width: 80%;
}

#new_bookmark {
  width: 80%;
}
